<div
  class="w-1/2 md:w-2/12 flex flex-col gap-y-2 bg-gradient-to-r from-yellow-600 to-yellow-400"
  id="buttons-container-{{ .Position }}"
>
  <button
    type="button"
    class="bg-amber-200 hover:bg-amber-500 text-gray-700 font-bold py-2 px-4"
    hx-get="/editor/components"
    hx-target="#buttons-container-{{ .Position }}"
    hx-swap="outerHTML"
    hx-vals='{"Position": "{{ .Position }}", "Component": "ChangePic"}'
  >
    Change Picture
  </button>
  <button
    type="button"
    class="bg-amber-200 hover:bg-amber-500 text-gray-700 font-bold py-2 px-4"
    hx-get="/editor/components"
    hx-target="#buttons-container-{{ .Position }}"
    hx-swap="outerHTML"
    hx-vals='{"Position": "{{ .Position }}", "Component": "EditTitle"}'
  >
    Edit Title
  </button>
  <button
    type="button"
    class="bg-amber-200 hover:bg-amber-500 text-gray-700 font-bold py-2 px-4"
    hx-get="/editor/components"
    hx-target="#buttons-container-{{ .Position }}"
    hx-swap="outerHTML"
    hx-vals='{"Position": "{{ .Position }}", "Component": "Delete"}'
  >
    Delete
  </button>
  <button
    type="button"
    class="bg-amber-200 hover:bg-amber-500 text-gray-700 font-bold py-2 px-4"
    hx-get="/editor/components"
    hx-target="#buttons-container-{{ .Position }}"
    hx-swap="outerHTML"
    hx-vals='{"Position": "{{ .Position }}", "Component": "InsertAbove"}'
  >
    Insert Work Above
  </button>
  <button
    type="button"
    class="bg-amber-200 hover:bg-amber-500 text-gray-700 font-bold py-2 px-4"
    hx-get="/editor/components"
    hx-target="#buttons-container-{{ .Position }}"
    hx-swap="outerHTML"
    hx-vals='{"Position": "{{ .Position }}", "Component": "InsertBelow"}'
  >
    Insert Work Below
  </button>
</div>
