<!-- INSERT ABOVE WORK COMPONENT -->
<div
  class="flex flex-col h-5/6 md:h-2/3 w-11/12 mx-4 md:w-1/2 gap-2 p-6 rounded-lg shadow-md bg-white dark:text-gray-800 md:items-start text-left justify-start"
  id="work-below-component-{{ .WorkID }}"
>
  <h2 class="flex items-center gap-2 text-xl font-semibold leading-tight tracking-wide">
    <!-- The button is for closing this component and retreiving the previous one -->
    <button
      type="button"
      class="flex w-6 h-6 p-1 bg-transparent border-none outline-none cursor-pointer hover:bg-gray-200 justify-center items-center text-center"
      aria-label="Close"
      hx-headers='{"Content-Type": "application/json"}'
      hx-get="/editor/components"
      hx-vals='{"WorkID":"{{ .WorkID }}", "Component": "ButtonsEditor"}'
      hx-target="#work-below-component-{{ .WorkID }}"
      hx-swap="outerHTML"
    >
      <!-- Add button text or icon here if needed -->
      <span class="text-red-700 hover:text-red-600">X</span>
      <!-- You can style this text as needed -->
    </button>
    INSERT NEW WORK BELOW:
  </h2>
  <!-- Inner form container for title and file -->
  <div
    class="flex md:flex-row flex-col justify-center items-center text-left bg-white overflow-hidden h-full w-full rounded-md"
  >
    <form
      id="form-container"
      class="flex md:flex-row flex-col justify-center text-left bg-white overflow-hidden h-5/6 w-full md:w-11/12 gap-4"
      hx-post="/editor"
      hx-encoding="multipart/form-data"
      hx-trigger="submit"
      hx-target="#works-section"
      hx-include="[name='title'], [name='workID']"
      hx-swap="outerHTML"
    >
      <!-- Title input -->
      <div
        class="flex md:flex-col flex-col justify-center items-center bg-white overflow-hidden h-full w-full rounded-md md:h-full"
      >
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Title"
          class="border w-11/12 h-1/3 md:h-1/5 sm:text-sm md:text-lg rounded-lg border-black dark:text-gray-800 bg-blue-50 text-center"
          fdprocessedid="yubzuk"
        />
      </div>
      <!-- /Title Input -->
      <!-- Hidden WorkID input -->
      <input type="hidden" name="workID" value="{{ .BelowWorkID }}" />

      <!-- Pic upload and submit -->
      <div
        class="flex md:flex-col flex-col justify-center text-center bg-white overflow-hidden h-full w-full rounded-md border border-gray-800"
      >
        <!--upload file  -->
        <div class="bg-gray-800 w-full h-full justify-center items-center flex flex-col">
          <input
            class="text-center items-center justify-center w-full h-full md:w-2/3 md:h-1/3 flex text-yellow-200"
            type="file"
            id="picture"
            name="picture"
            accept="image/*"
            required
          />
        </div>
        <!-- /upload file -->
        <!-- Submit -->
        <div class="bg-white w-full md:w-full h-full justify-center items-center flex flex-col">
          <button
            type="submit"
            class="px-8 py-3 md:font-semibold bg-green-500 hover:bg-green-800 dark:text-gray-100 w-full md:w-1/2 h-full md:h-1/2 md:border md:border-green-900 md:rounded-md"
          >
            Submit
          </button>
        </div>
        <!-- / Submit -->
      </div>
      <!-- Pic upload and submit -->
    </form>
  </div>
  <!-- Inner form container for title and file -->
</div>
<!-- /INSERT WORK ABOVE COMPONENT -->
